Source: ros-dashing-apex-containers
Section: misc
Priority: optional
Maintainer: Apex.AI, Inc. <opensource@apex.ai>
Build-Depends: debhelper (>= 9.0.0), ros-dashing-ament-cmake, ros-dashing-ament-cmake-auto, ros-dashing-ament-lint-auto, ros-dashing-ament-lint-common, ros-dashing-foonathan-memory-vendor, ros-dashing-osrf-testing-tools-cpp, ros-dashing-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-dashing-apex-containers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-dashing-foonathan-memory-vendor, ros-dashing-ros-workspace
Description: Containers
